h1 {
    color: blue;
    
}

nav {
    color: red;

}

li {
    color: burlywood;
}

body {
    background-color:black ;
    color: bisque;
}

p {
    text-align: center;
}

a {
    color: red;
}

video {
    
}